# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# CMake build directory
/build/
/CMakeFiles/
/CMakeCache.txt
/
cmake_install.cmake
Makefile

# Qt Creator
*.autosave
*.user
*.pro.user
*.qbs.user
*.creator.user

# Code::Blocks
*.depend
*.layout
*.cbp

# Visual Studio
.vs/
*.vcxproj*
*.sln
*.ncb
*.suo
*.pdb
*.idb
*.opendb

# CLion / JetBrains
.idea/
cmake-build-*/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Others
*.log


# Common Visual Studio build artifacts
*.tlog
*.obj
*.pch
*.pdb
*.ilk
*.idb
*.log
*.recipe



